@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

::selection {
  background-color: #fef3c7;
}

html {
  font-size: clamp(14px, 1vw + 1px, 22px);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header,
footer {
  padding: 1em 0;
  background-color: #fff;
}
header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

header p {
  width: 10ch;
  margin-inline: 2em;
  font-size: 1.4rem;
  user-select: none;
  bottom: 15px;
}
header p::before {
  content: "すしさま ";
  min-width: 4ch;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 1.6rem;
}

header nav {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(120px, 200px));
  justify-self: end;
  justify-content: space-around;
  row-gap: 2.2em;
  margin-inline: 2em;
  padding: 1em 0;
}

.nav {
  position: relative;
  font-size: clamp(16px, 1vw + 1px, 1.2rem);
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.8s;
}
.nav::after {
  position: absolute;
  content: "→";
  opacity: 0;
  font-size: 1rem;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  transition: transform 1;
}
.nav:hover::after {
  opacity: 1;
  transform: translateX(-6px);
}

#content {
  padding: 2em;
}

.container {
  margin-bottom: 1.6em;
  padding: 2em;
  max-width: 750px;
  margin-inline: auto;
  background-color: #fffffff3;
  border-radius: 6px;
}

h1,
.container-heading {
  display: inline-block;
  margin-bottom: 0.8em;
  font-weight: 600;
  border-bottom: 1px solid #000;
}

.container-heading {
  font-size: 1.4rem;
}

.container-content {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.bold {
  font-weight: 600;
  margin-right: 0.4em;
}

.fa-brands {
  font-size: 1.4rem;
  margin-top: 0.2em;
  margin-right: 0.4em;
  cursor: pointer;
}
.fa-facebook {
  color: #316ff6;
}
.fa-twitter {
  color: #1da1f2;
}

footer > p {
  text-align: center;
}

footer > p > a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid;
}

.menu {
  font-size: 2.4rem;
}

.item {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-auto-rows: minmax(1fr, 300px);
  gap: 1em 1.5em;
  margin-bottom: 1em;
}

.item-heading {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.item-price {
  font-size: 1.4rem;
}

.imageFit {
  height: 100%;
  width: 100%;
}
